	<%= render :partial => 'layouts/components' %>
	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-md-6 mx-auto">
									<h1>Blog Ruby On Rails</h1>
								</div>
								<div class="col-md-12">
									<p class="text-justify">
										Ruby On Rails es un framework de programación creado por David Heinemeier Hansson, quien le dio el nombre de Ruby on Rails, que usualmente es llamando simplemente Rails.

										Rails está enfocado en crear sitios web y combina Ruby con HTML, CSS y JavaScript para crear aplicaciones web que corren en un servidor web. Dado lo anterior, es considerado server-side o Back-end.

										Ruby on Rails más que un framework es el proyecto central de una comunidad gigante que produce de manera constante librerías para simplificar las tareas de crear complejas aplicaciones web.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>